@use "../../scss/abstracts/" as *;

html {
  background-color: var(--bgc);
}

.container {
  @include flex();
  min-height: 100vh;
  //background-color: var(--bgc);
  .keyPic {
    width: 800px;
    min-width: 600px;
    order: 2;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

.resetPasswordBox {
  @include flex();
  flex-direction: column;
  width: 400px;
  padding: 0 2rem 4rem;
  background-color: #2a64cf;
  color: white;
  border-radius: $mediumBorderRadius;
  box-shadow: $mainBoxShadow;

  .logo {
    width: 120px;
    height: 75px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title {
    // font-size: $fontSizeHeadlineMedium;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 30px !important;
  }

  & input,
  & label {
    color: #000;
  }

  & a {
    background-color: transparent !important;
    color: #ffffff;
  }

  .errorMessage {
    position: relative;
    font-size: 14px;
    color: red;
    top: -25px;
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  button {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .forgat_pass {
    margin: 1rem 0;
    display: block;
    color: var(--color-52);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        opacity: 0.6;
    }
  }
  .checkbox {
    @include flex(center, flex-start);

    input {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 6px;
      border-radius: 8px;
    }

    label {
      margin: 0 0.5rem;
    }
  }
}

.rtl {
  font-family: iranyekan, "IRANSans", "Tahoma";
  direction: rtl;
  text-align: right;

  label {
    left: auto;
    right: 10px;
  }
}
