:root {
    --clr-primary: #0057FF;
    --clr-secondary: #444444;
    --clr-accent: #0057FF;
    --clr-body: #292C31;
    --clr-bg: #f2f2f2;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --accent: #0057FF;
    --acc-color: #444444;
    --card-bg: #292C31;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}


.table-btn,
.custom-button {
    padding: 16px 39px;
    background: linear-gradient(120deg, rgb(248, 151, 77), rgb(235, 125, 7));
    background-size: 200% 200%;
    background-position: left center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

:is(.table-btn, .custom-button):hover {
    background-position: right center;
}

.spinner-wrap-cus {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 55;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
}

/*--- Input Styles ---*/
input {
    &:focus {
        outline: none;
    }
}

.custom-input-field label {
    margin-bottom: 10px;
    display: inline-block;
}

.custom-input {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: transparent !important;
    border: 1px solid var(--color-ce);
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
}

input[type="text"]:not(.react-select__input),
input[type="password"],
input[type="file"] {
    height: 53px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.w-50 {
    width: 50%;
}

.mat-inp-fix label {
    transform: none;
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--card-bg) !important;
}

.mat-inp-fix .MuiOutlinedInput-notchedOutline legend {
    display: none
}

.mat-inp-fix .MuiOutlinedInput-notchedOutline {
    top: 0;
    border-radius: 10px;
    border-color: #CCCCCC !important;
    border-width: 1px !important;
}

.react-select__control {
    min-height: 54px !important;
    border-radius: 10px !important;
    outline: none !important;
    box-shadow: none !important;
}

.react-select__control .react-select__indicator-separator {
    display: none;
}

.react-select__control .react-select__indicator {
    color: var(--card-bg);
}

.react-select__input-container .react-select__input {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.react-select__menu * {
    color: var(--card-bg);
}

/*--- Input Styles ---*/

html[theme=light] .sidebar-main {
    background-color: var(--color-blue);
}


.sidebar-main {
    padding: 20px;
    transition: none;

    .sidebar-logo {
        padding: 20px 15px 30px 15px;
        background: transparent;
        width: 120px;
        margin-left: auto;
        margin-right: auto;

        img {
            filter: brightness(0) invert(100%);
        }
    }

    .sidenav-li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            padding: 16px;
            border-radius: 10px;
            font-size: 16px;
            border: 0;
            margin: 0;
            &.active ,&:hover{
                background: rgba(255, 255, 255, 0.2);
                font-weight: 600;
                color: var(--white)!important;
            }
        }
    }
}

.dashboard-card {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
    color: var(--color-black);
    padding: 40px;
    border-radius: 24px;
    text-align: center;
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
}

.dashboard-card-global {
    background-color: #F2F8FF !important;
    color: #000;
    padding: 30px;
    border-radius:24px;

    .dashboard-card-title {
        h2 {
            color: #000;
        }

        margin-bottom: 40px;
        margin-top: 10px;
    }

    .passwordlabel span svg {
        color: var(--clr-body);
    }
}

.from-fix-global-wrap {
    .from-fix-global {
        margin-left: -15px;
        margin-right: -15px;

        div[class^="_profileformcol_"] {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    .submit-btn-wrap {
        padding-left: 0;
        margin-top: 30px;
    }
}


.settingTabContent {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.top-nav-icon {
    display: none;
}

.image-preview {
    margin-top: 30px;
}

:is(.loginpage, .forgotPassworpage, .resetPasswordpage) {
    .login-form {
        width: 100%;

    }

    :is([class^="_loginBox_"], [class^="_resetPasswordBox_"]) {
        padding: 40px;
    }

    [class^="_forgat_pass_"] {
        text-align: center;
        margin-bottom: 0 !important;
        display: block !important;
    }

    [class^="_logo_"] {
        height: auto !important;
        margin-bottom: 30px;
    }
}

.resetPasswordpage {
    .formgrp {
        label {
            margin-bottom: 10px;
        }
    }

    [class^="_resetPasswordBox_"] {
        background-color: var(--clr-body);
    }
}

.error {
    display: block;
    font-size: 14px;
}

.edit-profile-wrap {
    .uploadimage {
        margin-left: 0;
    }
}

.disabled-input {
    all: unset;
}

input[disabled] {
    opacity: .7;
}

.change-pass-wrap {
    label {
        margin-bottom: 5px;
        display: block;
    }
}

// start
:root {
    // font family
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    // color
    --color-white: #fff;
    --color-black: #000;
    --color-fd: #E7EEFD;
    --color-blue: #0057FF;
    --color-gray: #E3E3E3;
    --color-d9: #D9D9D9;
    --color-7b: #7B7B7B;
    --color-52: #EE2A52;
    --color-7bf: #007BFF;
    --color-3d: #3D3D3D;
    --color-4b: #4B4B4B;
    --color-ce: #CECECE;
}

body {
    background: #E7EEFD !important;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-4b);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

ul,
li,
ol {
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--color-black)
}

img {
    max-width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    @media (max-width:1399px) {
        font-size: 50px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-black);
    @media (max-width:1399px) {
        font-size: 35px;
    }
}

h3 {
    font-weight: 700;
    font-size: 28px;
    color: var(--color-black);
    @media (max-width:1399px) {
        font-size: 22px;
    }
}

h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-black);
    @media (max-width:1399px) {
        font-size: 19px;
    }
}

input.form-control:focus {
    box-shadow: none;
}

input.form-control {
    border: 1px solid var(--color-d9) !important;
}

:is(.loginpage, .forgotPassworpage, .resetPasswordpage) :is([class^="_loginBox_"], [class^="_resetPasswordBox_"]) {
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 40px 0px rgba(0, 87, 255, 0.2);
    background: #fff;
    border-radius: 24px;

    label {
        font-weight: 600;
        font-size: 14px;
        color: var(--color-3d);
        margin-bottom: 10px;
        padding: 0;
    }

    .forgat_pass {
        color: var(--color-52);
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

.table-btn, .custom-button {
    background: var(--color-7bf);
    color: var(--clr-white);
    border-radius: 8px;
    padding: 24px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 0;
    font-size: 16px;
    line-height: 0.8;
    font-weight: 600;
    transition: all 0.5s;
    border: 1px solid transparent;

    @media only screen and (max-width: 1680px) {
        padding: 20px 30px;
    }

    &:hover {
        background: var(--color-52);
        border-color: transparent;
    }
}

.error {
    margin-top: 5px;
    font-size: 12px;
}

// end